# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Dependency directories
**/node_modules

# NestJS specific
dist/                       # Compiled output
*.env                       # Environment variables
.env.                     # Environment variables (multiple env files)
coverage/                   # Test coverage output

# Next.js specific
.next/                      # Compiled Next.js output
out/                        # Static export folder
.cache/                     # Next.js cache for fast builds

# General build files and output
*.log                       # Log files
*.tsbuildinfo               # TypeScript build cache
.DS_Store                   # macOS system file
.vscode/                    # VS Code settings folder (optional)
.idea/                      # IDE config files (optional)

# Optional lint cache
.eslintcache

# Git-specific files
*.swp                       # Swap files from text editors
.gitignore                  # Exclude .gitignore files within the repo

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local